$icon-size-smallest: $size-1;
$icon-size-smaller: $size-1-125;
$icon-size-small: $size-4;
$icon-size-medium: $size-5;
$icon-size-large: $size-6;
$icon-active-color: $primary-color;
$icon-default-color: $grey-dark;
$icon-primary-color: $primary-color;
$icon-primary-inverse-color: $primary-color-inverse;
.icon > * {
  margin: 0;
  padding: 0;
}
.icon-smallest > * {
  height: $icon-size-smallest;
  width: $icon-size-smallest;
}
.icon-smaller > * {
  height: $icon-size-smaller;
  width: $icon-size-smaller;
}
.icon-small > * {
  height: $icon-size-small;
  width: $icon-size-small;
}
.icon-medium > * {
  height: $icon-size-medium;
  width: $icon-size-medium;
}
.icon-large > * {
  height: $icon-size-large;
  width: $icon-size-large;
}
.button[class^="icon"],
.button[class*="icon"],
button[class^="icon"],
button[class*="icon"] {
  line-height: 0;
}
.button > svg,
button > svg {
  fill: $icon-default-color;
}
.button.active > svg,
button.active > svg {
  fill: $icon-active-color;
}
.button.primary > svg,
button.primary > svg {
  fill: $icon-primary-inverse-color;
}
svg {
  &.primary {
    fill: $icon-primary-color;
  }
}